<div class="container mt-3">
  <div class="row">
    <div class="col">
      <div class="h3 fw-bold text-primary">Add Contact</div>
      <p class="fst-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, cum nobis minus mollitia,
        perferendis quae eveniet facilis aliquid nulla, earum sit libero consequuntur iure sapiente molestiae inventore.
        Voluptatem,
        laboriosam ipsam.</p>
    </div>
  </div>
</div>


 <!-- Loading Spinner-->
 <div *ngIf="loading">
  <app-spinner></app-spinner>
</div>

<!-- Error Message-->

<div *ngIf="!loading && errorMessage">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="h4 text-danger dw-bold">{{errorMessage}}</p>
      </div>
    </div>
  </div>
</div>

<!--Create Contact Form-->
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <form (submit)="createSubmit()">
        <div class="mb-2">
          <input
          [(ngModel)]="contact.name"
           name="name" required="true" type="text" class="form-control" placeholder="Name">
        </div>
        <div class="mb-2">
          <input
          [(ngModel)]="contact.photo"
          name="photo" required="true" type="text" class="form-control" placeholder="Photo-Url">
        </div>
        <div class="mb-2">
          <input
          [(ngModel)]="contact.email"
          name="email"
          required="true"  type="email" class="form-control" placeholder="Email">
        </div>
        <div class="mb-2">
          <input
          [(ngModel)]="contact.mobile"
          name="mobile"
          required="true" type="number" class="form-control" placeholder="Mobile">
        </div>
        <div class="mb-2">
          <input
          [(ngModel)]="contact.company"
          required="true" name="company"
          type="text" class="form-control" placeholder="Company">
        </div>
        <div class="mb-2">
          <input
          [(ngModel)]="contact.title"
          name="title"
          required="true" type="text" class="form-control" placeholder="Title">
        </div>
        <div class="mb-2">
          <select *ngIf="groups.length > 0"
          [(ngModel)]="contact.groupId"
          name="groupId" required="true"
          class="form-control" >
            <option value="">Select a Group</option>
            <option [value]="group.id" *ngFor="let group of groups">{{group.name}}</option>
          </select>
        </div>
        <div class="mb-2">
          <input class="btn btn-success" value="Create" type="submit">
          <a  class="btn btn-danger ms-2" routerLink="/">Close</a>
        </div>
      </form>
    </div>
    <div class="col-sm-4">
      <img alt=""
      class="contact-img" [src]="contact.photo">
    </div>
  </div>
</div>
